*.o
*.d
*.a
Library.yaml
cvm/cvm
image32be
image32le
include/ioconstants.h
lib/gmpforth/ioconstants.rb
profile/disasm
profile/profile
src/gas/i386/const.inc
src/gas/i386/forth
src/gas/i386/forth.map
src/gas/i386/kernel.inc
src/gas/i386/kernel.lst
src/gas/i386/syscall.inc
src/gas/x86_64/const.inc
src/gas/x86_64/forth
src/gas/x86_64/forth.debug
src/gas/x86_64/forth.map
src/gas/x86_64/kernel.inc
src/gas/x86_64/kernel.lst
src/gas/x86_64/syscall.inc
